<?xml version="1.0" encoding="utf-8" ?>
<Menu>
	<Node Title="系統">
		<Node Title="Login" Type=".Menu.Login" ViewMode="NotLogin">
		</Node>
		<Node Title="Logout" Type=".Menu.Logout" ViewMode="Login"></Node>
	</Node>
	<Node Title="Query">
		<Node Title="Query1" Type=".Menu.Query"></Node>
		<Node Title="Extand">
			<Node Title="Query1" ViewMode="Limit"></Node>
		</Node>
		<Node Title="QueryOnlyLogin" Type=".Menu.Query" ViewMode="Login" AccessString=":Query"></Node>
		<Node Title="QueryOnlyLimit" Type=".Menu.Query" ViewMode="Limit" AccessString=":QueryX"></Node>
	</Node>
</Menu>