<?xml version="1.0" encoding="utf-8" ?>
<Menu>
	<Node Title="系統">
		<Node Title="Login" Type=".Menu.Login"></Node>
		<Node Title="Logout" Type=".Menu.Logout"></Node>
	</Node>
	<Node Title="Query">
		<Node Title="Query1" Type=".Menu.Query"></Node>
		<Node Title="Extand">
			<Node Title="Query1"></Node>
		</Node>
	</Node>
</Menu>